<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
      integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc="
      crossorigin="anonymous"
    />
    <title>Pairs</title>
    <meta name="author" content="Daniel Ross" />
    <meta
      name="description"
      content="A food themed memory game that makes use of random images provided by the Foodish API."
    />
    <meta name="keywords" content="pairs, memory game, food, foodish, Daniel Ross" />
    <meta property="og:title" content="Pairs" />
    <meta
      property="og:description"
      content="A food themed memory game that makes use of random images provided by the Foodish API."
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= env.SITE_IMAGE_URL %>" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="Daniel Ross" />
    <meta name="twitter:title" content="Pairs" />
    <meta
      name="twitter:description"
      content="A food themed memory game that makes use of random images provided by the Foodish API."
    />
    <meta name="twitter:image" content="<%= env.SITE_IMAGE_URL %>" />
    <link rel="canonical" href="<%= env.CANONICAL %>" />
  </head>
  <body>
    <div class="container">
      <div id="game" class="game">
        <div class="header">
          <div class="header__item header__item--score">
            <div class="time-container" title="Time elapsed">
              <div class="time-container__cover"></div>
              <span class="timer"></span>
            </div>
            <div class="moves-container" title="Number of moves">
              <span class="moves"></span>
            </div>
          </div>
          <div class="header__item">
            <div class="pb-container" title="Personal best">
              <span>Best:</span>
              <span id="pb__moves">&#8734;</span>
              (<span id="pb__time">&#8734;</span>)
            </div>
          </div>
        </div>
        <div class="loading-wrapper">
          <div id="grid" class="grid"></div>
          <div id="loading" class="loading">
            <div class="loading__spinner"></div>
          </div>
        </div>
        <div class="buttons-container">
          <button class="btn btn--reset">Reset</button>
          <button class="btn btn--theme">Switch Theme</button>
        </div>
      </div>
      <div id="game-results" class="game-results">
        <div class="game-results__inner">
          <div class="game-results__content">
            <p class="game-results__message"></p>
            <p class="game-results__score">
              <span>Moves: <span class="moves"></span></span>
              <span>Time: <span class="timer"></span></span>
            </p>
            <button class="btn btn--reset">Play again</button>
          </div>
        </div>
      </div>
      <div id="game-select" class="game-select">
        <div class="game-select__inner">
          <div class="game-select__contents">
            <h1 class="title">Pairs</h1>
            <p class="subtitle">The Memory Game</p>
            <button class="btn btn--game-select" data-columns="4" data-rows="2">Easy</button>
            <button class="btn btn--game-select" data-columns="4" data-rows="4">Normal</button>
            <button class="btn btn--game-select" data-columns="6" data-rows="6">Hard</button>
            <button class="btn btn--reset-storage">Clear Stored Data</button>
            <ul class="list">
              <li class="list__item">
                <a
                  class="list__item__link"
                  href="<%= env.GITHUB_URL %>"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="list__item">
                <a
                  class="list__item__link"
                  href="<%= env.TWITTER_URL %>"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list__item">
                <a
                  class="list__item__link"
                  href="<%= env.PORTFOLIO_URL %>"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fas fa-briefcase"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
